.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates


*.builds
*.filters
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.vcxitems
*.vcxitems.user


*.obj
*.exe
*.dll
*.pdb
*.ilk
*.idb
*.ipch
*.pch
*.manifest
*.tlog
*.log
*.vspscc
*.vspxproj
*.unsuccessfulbuild


*.bin
*.elf
*.map
*.hex

## Папки збірки ##
Debug/
Release/
x64/
x86/
build/
ipch/
out/
temp/


*.props
*.natvis


packages/
*.nupkg
project.lock.json


*.bak
*.old


.vscode/
.vs/


*.lock


*.code-workspace


*.log
*.tmp
*.swp


*.pyc
*.class
*.moc


Thumbs.db
desktop.ini